*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Open Sans';
}
body{
    display: grid;
    max-width: 900px;
    margin: auto;
}
.header{
    width: 100%;
    display: block;
    height: 600px;
    background: url(../img/sample2.jpg);
    background-size: cover;
    background-position: 50% 20%;
    z-index: 1;
}
.inner_header{
    padding: 35px 0 0 40px;
    height:100%;
}
.logo_container{
    width: 100%;
    color:white;
    display: inline-block;
}
.logo{
    float: left;
    letter-spacing: 3px;
    font-size: 14px;
}
.header_links{
    float: right;
    margin-right: 20px;
    font-size: 12px;
}
.header_links a{
    display: table;
    float: left;
    padding: 0 30px;
}
.header_links a:hover{
    font-weight: bolder;
}
.header_heading{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%,-98%);
    width: 100%;
    color: white;
    letter-spacing: 7px;
    font-weight: 500;
    font-size: 40px;
}
.header_heading span{
    font-weight: 500;
    font-size: 73px;
    width: 30px;
}
.header_text{
    text-align: center;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-100%);
    width: 100%;
    color: white;
    font-size: 14px;
}
.header_nav{
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-45%,-100%);
    display: table;
}
.header_nav button{
    display: table-cell;
    margin: 0 70px;
    padding: 10px 60px;
    background: none;
    border-color: white;
    color: white;
    font-size: 12px;
}
.header_nav button:hover{
    background: rgba(255,255,255,.2);
}
.main_text{
    background: #E8E8E8;
}
.main_text_black{
    height: 210px;
    background: black;
    transform: skew(0deg, 9deg) translateY(-110px);
    z-index: 0;
}
.main_text_black p{
    font-size: 11px;
    float: right;
    transform: skew(0deg, -9deg) translateY(90px);
    color: white;
    width: 440px;
    padding-right: 15px;
}
.main_text_white{
    width: 390px;
    position: absolute;
    z-index: 0;
    transform: translateY(-120px);
    padding-left: 15px;
}
.main_text_white p{
    font-size: 14px;
}
.main_articles{
    background: #E8E8E8;
    margin-bottom: 40px;
}
.articles_header{
    position: absolute;
    z-index: 0;
    left: 38%;
    transform: translateY(-50px);
}
.articles_header p{
    font-size: 20px;
}
.articles_gallery{
    padding-left: 15px;
}
.article_wrapper{
    margin-bottom: 10px;
    display: flex;
}
.article_wrapper:nth-child(2n){
    flex-direction: row-reverse;
}
.article_image1{
    background: url(../img/sample-1.jpg) no-repeat;
    padding: 5px;
    display: block;
    width: 109%;
    height: 250px;
    background-size: cover;
    position: relative;
    z-index: 2;
    margin-right: 15px;
}
.article_image2{
    background: url(../img/sample-2.jpg) no-repeat;
    padding: 5px;
    display: block;
    width: 109%;
    height: 250px;
    background-size: cover;
    position: relative;
    z-index: 2;
    margin-right: 15px;
}
.article_image1:after,
.article_image2:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: radial-gradient(transparent, rgba(0, 0, 0, .5));
}
.article_text{
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.article_text span{
    padding: 15px;
}
.date{
    color: white;
    font-size: 13px;
    transform: translateY(233px);
    padding-left: 10px;
}
a.like{
    text-decoration: none;
}
.like{
    color:white;
    font-size: .8rem;
    border: 2px solid #FFFFFF;
    padding: 3px 7px;
    background: rgba(0, 0, 0, .4);
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.like:hover{
    background: rgba(255,255,255,.2);
}
.gallery_container{
    margin-left: 20px;
    margin-bottom: 40px;
}
.locations_gallery{
    display: flex;
    flex-direction: row;
}
.location_img_wrapper{
    width: 210px;
    height: 270px;
    padding: 0 20px;
}
.location_img1:hover,
.location_img2:hover,
.location_img3:hover,
.location_img4:hover{
    background-position: center center;
}
.location_img_wrapper .date{
    transform: translateY(240px);
}
.location_img1{
    background: url(../img/news-list-1.jpg);
    height:100%;
}
.location_img2{
    background: url(../img/news-list-2.jpg);
    height:100%;
}
.location_img3{
    background: url(../img/news-list-3.jpg);
    height:100%;
}
.location_img4{
    background: url(../img/news-list-4.jpg);
    height:100%;
}
.locations_button{
    height: 40px;
    width: 190px;
    background: rgba(9, 119, 116, 0.75);
    border:none;
    text-align: center;
    color: white;
    margin: 80px 10px 0 10px;
    letter-spacing: 1px;
}
.locations_button:hover{
    background: #097774;
}
.load_news_button{
    color: white;
    height: 40px;
    width: 280px;
    border: none;
    background: #097774;
    text-align: center;
    margin-left: 370px;
    margin-bottom: 40px;
}
.load_news_button:hover,
.subscribe_button:hover{
    box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);
}
.text,
.subscribe_container{
    background: #E8E8E8;
}
.footer_text{
    color: #000000;
    font-size: 0.75rem;
    padding-top: 2rem;
    padding-left: 1.5rem;
    height: 4rem;
    width: 90%;
}
.input{
    display: flex;
    flex-direction: row;
    float: right;
}
.subscribe_text{
    font-size: 20px;
    padding-right: 1rem;
}
.subscribe_button{
    font-size: 0.75em;
    color: white;
    width: 70px;
    border: none;
    background: #097774;
    text-align: center;
    margin: 0 1rem;
}
.subscribe_input{
    border: 0.5px solid black;
    width: 8.5rem;
}
::placeholder{
    color: #000000;
}
.subscribe_container{
    width: 100%;
    height: 4rem;
    float: right;
}
.subscribe_button,
.subscribe_input{
    height: 2rem;
}
.footer_nav{
    margin-top: 10px;
    display: table;
    float: right;
    font-size: 0.75rem;
}
.footer_nav a{
    padding: 0 1rem;
    color: #000000;
    text-decoration: none;
}
.footer_nav a:hover{
    font-weight: bold;
}
.copy{
    display: inline-block;
    margin-top: 10px;
    height: 20px;
    width: 80px;
    font-size: 0.75rem;
    color: #9E9E9E;
}
