$headerimg: URL("../img/m-h-night.jpg");
$colors:(
    letters: #ffffff,
    underline: #ff6633,
    button: #cc9900
);
$bgcolors:(
    body: #333366,
    footer: #333333
);
$gradient: (linear-gradient(75deg, #cc9900, #993366));