$headerimg: url("../img/m-h-day.jpg");
$colors:(
    letters: #333333,
    underline: #0099cc,
    button: #669900
);
$bgcolors:(
    body: #ffffff,
    footer: #333333
);
$gradient: (linear-gradient(75deg, #669900, #0099cc));